body{
   background-color: blue;
}

header{
     background-color: red;text-align: center;
}


aside{
    background-color: yellow; float:
}  

figure{
    text-align: left;
}

main{
    background-color: aquamarine;text-align: center;
}

img{
    border-radius: 50%;display: flex;flex-direction: column;
}

