body{
   background-color: blue;
}

header{
     background-color: red;text-align: center;
}


aside{

    padding-left: 0px;
    position: absolute;
    
}  

figure{
    text-align: left;
}

main{
    background-color: aquamarine;text-align: center;
}

img{

    border-radius: 50%;
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    width: 90%;
}



i{
    background-color: aliceblue;
}

span{
    text-decoration: underline;
}

h3{
    color: blue;
}

